.orange{
    color: #DB6846;
}

.title{
    margin-top:25px !important;
    margin-bottom:0px !important;
    font-weight: 500 !important;
}

.subtitle{
    font-weight: 700 !important;
}

.centered{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}